* {
    margin: 0;
    padding: 0;
}


.box {
    height: 100vh;
    color: white;
    box-shadow: inset -2px -2px 2px 2px white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-left: 470px;
    margin-top: 5px;
    padding: 100px;

}

body {
    width: 100%;
    height: 200%;
    background: url(./5.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    display: flex;


}

.box div,
h2,
h4,
h5 {
    font-family: monospace;
    font-size: 16px;

}


.in {
    margin-top: 90px;
    text-align: center;


}

.head {
    margin-top: 16px;
    text-align: center;
}

.para {
    text-align: center;
}

p {
    text-align: center;
}

.input {
    margin-top: -80px;
    margin-left: -50px;

}

button {
    margin-left: 118px;
    margin-top: 10px;
    color: antiquewhite;
}

p {
    font-size: 15px;
}

b {

    margin-bottom: 20px;
    text-align: center;
    margin-right: 15px;
}

h6 {

    text-align: center;
    margin-top: 19px;
}